* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: IRANYekanMedium;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}
.active{
  color: black;
}

